.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 5px solid blue;
    width: 70%;
    height: 70%;
    margin: 50px auto;
    height: 200px;
    border-radius: 5px;
}
.equal{
    grid-column-start: 4;
    grid-row: 2/6;
    background-color:#ed9b1f ; 
    border: 0px;  
}
button{
    border: 1px solid;
}
@media screen and (max-width:800px) {
    .container {
        width:100% ;
        height: 100vh;
    }
    
}